.deck-con {
    display: flex;
    flex-direction: column;
    height: 100%;
}
.deck-con .hand {
    box-sizing: border-box;
    height: 120px;
    padding: 10px;
}
.deck-con .card-holder {
    flex: 1;
    border-bottom: 1px solid var(--game-border-color);
    border-top: 1px solid var(--game-border-color);
    padding: 10px;
}
